.productsMgmt {
  height: 100%;
  width: 100%;
}

.productsList {
  width: 100%;
  height: 75%;
  float: left;
}

.productsList ul {
  height: 100%;
  width: 100%;
}

.productTile img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.productTile img.MuiGridListTile-imgFullWidth {
  width: 100%;
  height: 100%;
}

.productTile img.MuiGridListTile-imgFullHeight {
  width: 100%;
  height: 100%;
}

.productData {
  width: 100%;
  height: 25%;
  padding: 10px;
  border: 2px gray solid;
}

.productFields {
  width: 25%;
  height: 25%;
  float: left;
  /* display: inline-grid; */
}
.actionButton {
  /* width: 20%; */
  float: left;
  background-color: bisque;
}

.productFields .MuiFormControl-root {
  display: -webkit-inline-box;
}

.productDescription {
  width: 25%;
  float: left;
}

.productImage {
  width: 30%;
  height: 100%;
  float: left;
}

.productImage img {
  width: 200px;
  height: 150px;
  border: 1px gray solid;
}
/* 
.actionButton {
  height: 300px;
  width: 200px;
} */

.editImg {
  height: 35px;
  width: 35px;
}

#imgInp {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
  display: block;
}

.selectImage {
  position: relative;
  float: left;
  display: inline-block;
  padding: 6px 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
}
