/* .productData {
  float: left;
  width: 40%;
  margin-left: 25px;
}

.productData Label {
  display: inline-block;
  font-size: large;
}

.productImage {
  float: left;
  width: 30%;
}

.productImage img {
  height: 350px;
  width: 300px;
} */
