.product {
  height: 260px;
  width: 235px;
  background-color: white;
  /* border: 2px solid #14213d; */
  margin: 10px;
  position: relative;
  float: left;
  border-radius: 20px;
}
.product h3 {
  margin-bottom: 0;
}

img {
  width: 200px;
  height: 150px;
  /* border: 1px solid black; */
  /* border-radius: 25px; */
}
